.center{
    text-align: center;
}
#all_chord ul {
    list-style-type: none;
    text-align: center;
}
#all_chord ul li {
  display: inline-table;
}
.ha{
    margin-left: 40px;
    width:200px;
    height: 150px;
}
.chord{
    margin-top:50px;
    width:100%;
    height: 200px;
}